# Data Science Example - Python Operations

## Panda CSV import with Data Frame print of first 3 rows and last 2 rows

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('student_grades.csv')

In [4]:
df.head(3)

,Student,Test 1,Test 2,Test 3,Test 4,Test 5,Homework,Midterm,Final
0,John Smith,80,85,83,88,90,95,87,85
1,Jane Smith,75,82,77,85,90,90,82,80
2,John Doe,65,70,65,50,75,75,75,75

In [5]:
df.tail(2)

,Student,Test 1,Test 2,Test 3,Test 4,Test 5,Homework,Midterm,Final
6,Moshe Cohen,90,80,97,95,95,95,90,90
7,Einat Levi,90,80,97,95,95,95,90,90

In [6]:
df.mean()

Test 1      80.625
Test 2      80.500
Test 3      84.500
Test 4      85.125
Test 5      90.000
Homework    91.250
Midterm     85.375
Final       84.375
dtype: float64

## Can also do math and algebra in-line

In [7]:
1 + 1

2

In [8]:
X = 1

In [9]:
X

1

In [10]:
X + 5

6

## Markdown Capability (Add HTML, Lists...)

<a href='https://www.cognitiveclass.ai'>Cognitive Class</a>

### Markdown Cheatsheet = https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

1. First item
2. Second item
3. Third item

+ This is
+ an unordered
+ list

| Last Name     | First Name    | Amount |
| ------------- |:-------------:| ------:|
| Smith         | John          |     80 |
| Smith         | Jane          |     75 |
| Doe           | John          |     85 |

Who I am: 
![alt text](http://www.greenobjects.com/images/GLIPOF_RecentSketch.jpg "Guy Lipof")